<form novalidate (ngSubmit)="onSubmit()">
  <mat-card class="user-registration-card">
    <mat-card-header>
      <mat-card-title>Registro de Usuario</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre de usuario" formControlName="username">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Correo electrónico" formControlName="email">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Contraseña" formControlName="password">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Confirmar Contraseña" formControlName="confirmPassword">
          </mat-form-field>
        </div>
      </div>
      <!-- Agrega más campos según sea necesario para el registro de usuario -->

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Registrar</button>
    </mat-card-actions>
  </mat-card>
</form>
